<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Tarefas">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 addText="Add" [allowAdd]="true" [allowDelete]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getTarefasCount" [data]="getTarefasResult" emptyText="No records to display." [pageSize]="5" (add)="grid0Add($event)" (delete)="grid0Delete($event)" (loadData)="grid0LoadData($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column property="Tarefa1" title="Tarefa" type="integer">
        </rz-grid-column>
        <rz-grid-column format="date-time" property="Data" title="Data" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.Data | date:'dd/MM/yyyy'}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column filterProperty="Pessoa.Nome" property="Responsavel" sortProperty="Pessoa.Nome" title="Pessoa" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.Pessoa?.Nome}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="decimal" property="Horas" title="Horas" width="60px" type="number">
        </rz-grid-column>
        <rz-grid-column property="Descricao" title="Descrição" width="200px" type="string">
        </rz-grid-column>
        <rz-grid-column filterProperty="Projeto1.Descricao" property="Projeto" sortProperty="Projeto1.Descricao" title="Projeto" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.Projeto1?.Descricao}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="date-time" property="dataDig" title="Data Dig" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.dataDig | date:'dd/MM/yy HH:mm'}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column property="Manutencao" title="Manutencao" type="boolean">
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
