<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Projetos">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 addText="Add" [allowAdd]="true" [allowDelete]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getProjetosCount" [data]="getProjetosResult" emptyText="No records to display." [pageSize]="5" (add)="grid0Add($event)" (delete)="grid0Delete($event)" (loadData)="grid0LoadData($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column property="Projeto1" title="Projeto" type="integer">
        </rz-grid-column>
        <rz-grid-column property="Descricao" title="Descricao" type="string">
        </rz-grid-column>
        <rz-grid-column filterProperty="Pessoa.Nome" property="Cliente" sortProperty="Pessoa.Nome" title="Pessoa" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.Pessoa?.Nome}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column property="ativo" title="Ativo" type="boolean">
        </rz-grid-column>
        <rz-grid-column format="int64" property="CentroResultado" title="Centro Resultado" type="integer">
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
