<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (submit)="form0Submit($event)" (loadData)="form0LoadData($event)">
        <rz-date-form-field property="Data" [required]="false" title="Data" requiredText="is required" type="date">
        </rz-date-form-field>
        <rz-lookuppopup-form-field [data]="getPessoasResult" property="Responsavel" [required]="true" textProperty="Nome" title="Pessoa" valueProperty="Pessoa1" placeholder="Choose Pessoa" [count]="getPessoasCount" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-number-form-field property="Horas" [required]="false" title="Horas" requiredText="is required" type="number">
        </rz-number-form-field>
        <rz-string-form-field property="Descricao" [required]="true" title="Descricao" [maxLength]="500" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-lookuppopup-form-field [data]="getProjetosResult" property="Projeto" [required]="true" textProperty="Descricao" title="Projeto" valueProperty="Projeto1" placeholder="Choose Projeto" [count]="getProjetosCount" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-date-form-field property="dataDig" [required]="false" title="Data Dig" requiredText="is required" type="date">
        </rz-date-form-field>
        <rz-boolean-form-field property="Manutencao" [required]="true" title="Manutencao" requiredText="is required" type="boolean">
        </rz-boolean-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
