<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (submit)="form0Submit($event)" (loadData)="form0LoadData($event)">
        <rz-string-form-field property="Nome" [required]="true" title="Nome" [maxLength]="150" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-lookuppopup-form-field [data]="getPapeisResult" property="PapelPrincipal" [required]="true" textProperty="Nome" title="Papei" valueProperty="Papel" placeholder="Choose Papei" [count]="getPapeisCount" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
        <rz-boolean-form-field property="ativo" [required]="false" title="Ativo" requiredText="is required" type="boolean">
        </rz-boolean-form-field>
        <rz-string-form-field property="senha" [required]="false" title="Senha" [maxLength]="150" requiredText="is required" type="string">
        </rz-string-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
